# Assignment 1(a)
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

Note: Please open the olympic.csv file and go through the code in the below block to see how cleaning has been done to view the data in understandable format.

In [85]:
import pandas as pd
import numpy as np

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head(10)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [228]:
# This function returns the row for Afghanistan, which is a Series object.
def answer_zero():
    #write your code below
    
    s= (df.loc['Afghanistan']) 
    return s

# You can examine what your function returns by calling it in the cell. 
#answer_zero()

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [226]:
def answer_one():
    #write your code below
    a=df['Gold'].idxmax()
    return a
#answer_one()

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [225]:
def answer_two():
    #write your code below
    a=(df['Gold']-df['Gold.1']).idxmax()
    return a
#answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [224]:
def answer_three():
    a=((df['Gold']-df['Gold.1'])/(df['Gold']+df['Gold.1'])).idxmax()
    return a
#answer_three()

    #write your code below

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [38]:
def answer_four():
    #write your code below
    Points=df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']
    return Points
#(answer_four())

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [71]:
census_df = pd.read_csv('census.csv')
#read the file census.csv
print(census_df.head())
rows=len(census_df.index)

   SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME         CTYNAME  \
0      40       3         6      1       0  Alabama         Alabama
1      50       3         6      1       1  Alabama  Autauga County
2      50       3         6      1       3  Alabama  Baldwin County
3      50       3         6      1       5  Alabama  Barbour County
4      50       3         6      1       7  Alabama     Bibb County

   CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  ...  RDOMESTICMIG2011  \
0        4779736            4780127          4785161  ...          0.002295
1          54571              54571            54660  ...          7.242091
2         182265             182265           183193  ...         14.832960
3          27457              27457            27341  ...         -4.728132
4          22915              22919            22861  ...         -5.527043

   RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  RDOMESTICMIG2015  \
0         -0.193196          0.381066          0.582002         -0.467369
1         -2.915927         -3.012349          2.265971         -2.530799
2         17.647293         21.845705         19.243287         17.197872
3         -2.500690         -7.056824         -3.904217        -10.543299
4         -5.068871         -6.201001         -0.177537          0.177258

   RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
0     1.030015     0.826644     1.383282     1.724718     0.712594
1     7.606016    -2.626146    -2.722002     2.592270    -2.187333
2    15.844176    18.559627    22.727626    20.317142    18.293499
3    -4.874741    -2.758113    -7.167664    -3.978583   -10.543299
4    -5.088389    -4.363636    -5.403729     0.754533     1.107861

[5 rows x 100 columns]

In [64]:
def answer_five():  
    #write your code below
    a=census_df['COUNTY'].idxmax()
    b=census_df.loc[a].STNAME
    return b
    
answer_five()

'Virginia'

In [223]:
def answer_six():
    #write your code below
    c=np.array([])
    for i in range(1,57):
        #print(census_df)
        #print(a)
        if(i==3 or i==7 or i==14 or i==43 or i==52):
            continue
        df1=census_df[census_df['STATE'] == i]
        df2=df1.sort_values(by='CENSUS2010POP', ascending=False)
        d=len(df2)
        if(d>=3):
            b=df2.CENSUS2010POP.values[0]+df2.CENSUS2010POP.values[1]+df2.CENSUS2010POP.values[2]
        elif(d==2):
            b=df2.CENSUS2010POP.values[0]+df2.CENSUS2010POP.values[1]
        else:
            b=df2.CENSUS2010POP.values[0]
        c=np.append(c,b)
    e=np.argmax(c)
    c1=np.sort(c)
    max1=c1[-1]
    max1i=np.where(c==max1)[0][0]
    f=census_df.STATE.unique()[max1i]
    g=census_df[census_df['STATE'] == f].STNAME.unique()
    max2=c1[-2]
    max2i=np.where(c==max2)[0][0]
    h=census_df.STATE.unique()[max2i]
    j=census_df[census_df['STATE'] == h].STNAME.unique()[0]
    g=np.append(g,j)
    max3=c1[-3]
    max3i=np.where(c==max3)[0][0]
    k=census_df.STATE.unique()[max3i]
    m=census_df[census_df['STATE'] == k].STNAME.unique()[0]
    g=np.append(g,m)
    return g
#answer_six()

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [172]:
def answer_seven():
    #write your code below
    c=np.array([])
    l=len(census_df)
    for i in range(0,l):
        d=census_df.loc[i].values[9:15].max()-census_df.loc[i].values[9:15].min()
        c=np.append(c,d)
    e=np.argmax(c)
    f=census_df.CTYNAME.values[0]
    return f
#answer_seven()

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [222]:
def answer_eight():
    #write your code below
    df1=census_df[(census_df['REGION']==1) | (census_df['REGION']==2)]
    df2=df1[df1.POPESTIMATE2015>df1.POPESTIMATE2014]
    df3=df2.loc[df2.CTYNAME.str.startswith('Washington', na=False)]
    df4=df3[['STNAME','CTYNAME']]
    return df4

#answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County